<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Teste 2</title>
</head>
<body>

    <div class="sectionInput">
        <input 
         type="search"
         placeholder="Name Usuário"
         ref="search"
         v-model="inputValue"
         v-on:focus="oppen"
         v-on:blur="close"
        >
       
        <ul  class="list" type="none" >
            <li 
             v-for="(client,index) in clients"
             v-if=" filterClient(client)"
             v-on:click="setInputValue(client)"  
            >
                <a  href="#"> 
                   {{ client.name }} 
                </a>

            </li>
        </ul>

    </div>

    <div class="sectionUsers">

        <ul  class="list" type="none">
            <li 
             v-for="(client,index) in clients"
             v-if="filterUser(client) "
             v-on:click="clickUser(client)"
            >
                <div>
                    <img v-bind:src="img(index)" alt="">
                </div>
                <p>{{client.name}}</p>
                <p> Tel - {{client.telefone}}</p>
            </li>
        </ul>
        
    </div>
  
    <script src="main.js" ></script>
</body>
</html>